@charset "UTF-8";

/* すべてのWebページに適用される */
html{
	font-family: sans-serif;
}
html *{
	box-sizing: border-box;
}
body {
	margin: 0;
}

main {
    margin-top: 100px;
}

.tbl{
    margin:auto
}

.add{
    display: block;
    margin: auto;
}

#add {
    background-color:cornflowerblue;
    color: white;
}

.back{
    display: block;
    margin-left: auto;
}